<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    {#
    <link rel="stylesheet" href="/static/style/global.css"> #}

    <title>Rød tråd - Admin</title>
</head>

<body>
    <h1>Rød tråd ADMIN</h1>
    <nav>
        <ul>
            <li><a href="/admin/puzzles">Puzzles</a></li>
        </ul>
    </nav>
</body>

</html>