<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    {#
    <link rel="stylesheet" href="/static/style/global.css"> #}

    <title>Rød tråd - Admin</title>
</head>

<body>
    <h1>Brett nr. {{ puzzle.number }} (id: {{ puzzle.id }}) - {{ puzzle.date|date_format }}</h1>

    <nav>
        <a href="/admin/puzzles">Alle brett</a>
        <a href="/admin/puzzles/{{ puzzle.id }}">Rediger</a>
    </nav>

    <br>

    Antall spill: {{ game_count }}<br>
    Antall fullførte spill: {{ completed_game_count }}<br>
    Vinneprosent: {{ win_percent }}%<br>
    <ul>
        {% for session in game_sessions %}
        <li>
            <ul>
                <li>Brukerid: {{ session.user_id }}</li>
                <li>Start: {{ session.start_time|datetime_format }}</li>
                <li>Slutt: {{ session.end_time|datetime_format }}</li>
                <li>
                    <ul>

                        {% for guess in session.guesses %}
                        <li>
                            {{'RIKTIG' if guess.correct else 'FEIL'}} - - - - {{ guess.words|join(', ')}}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
        <br>
        {% endfor %}
    </ul>

</body>

</html>