<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    {#
    <link rel="stylesheet" href="/static/style/global.css"> #}

    <title>Rød tråd - Admin</title>
</head>

<body>
    <h1>Brett</h1>

    <nav>
        <ul>
            <li><a href="/admin">Tilbake</a></li>
            <li><a href="/admin/puzzles/new">Lag nytt brett</a></li>
        </ul>
    </nav>

    <h2>Gamle brett</h2>
    <ul>
        {% for puzzle in puzzles if puzzle.date < today %} <li>
            <a href="/admin/puzzles/{{ puzzle.id }}">{{ puzzle.id }} - {{ puzzle.date|date_format }}</a>
            </li>
            {% endfor %}
    </ul>

    <h2>Dagens brett</h2>
    <ul>
        {% for puzzle in puzzles if puzzle.date == today %}
        <li>
            <a href="/admin/puzzles/{{ puzzle.id }}">{{ puzzle.id }} - {{ puzzle.date|date_format }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Kommende brett</h2>
    <ul>
        {% for puzzle in puzzles if puzzle.date > today %}
        <li>
            <a href="/admin/puzzles/{{ puzzle.id }}">{{ puzzle.id }} - {{ puzzle.date|date_format }}</a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>