{% macro puzzle_item(puzzle) %}
<li>
    <a href="/admin/puzzles/{{ puzzle.id }}">nr. {{ puzzle.number }} (id:{{ puzzle.id }}) - {{ puzzle.date|date_format
        }}</a>
    <a href="/?puzzle_id={{ puzzle.id }}">Test</a>
    <a href="/admin/puzzles/{{ puzzle.id }}/stats">Statistikk</a>
    <a href="/admin/puzzles/{{ puzzle.id }}/delete"
        onclick="return confirm('Er du sikker på at du vil slette dette brettet?')">Slett</a>
</li>
{% endmacro %}

<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title>Rød tråd - Admin</title>
</head>

<body>
    <h1>Brett</h1>

    <nav>
        <ul>
            <li><a href="/admin">Tilbake</a></li>
            <li><a href="/admin/puzzles/new">Lag nytt brett</a></li>
        </ul>
    </nav>

    <h2>Uten dato</h2>
    <ul>
        {% for puzzle in puzzles if not puzzle.date %} {#>#}{#</>#}
        {{ puzzle_item(puzzle) }}
        {% endfor %}
    </ul>

    <h2>Gamle brett</h2>
    <ul>
        {% for puzzle in puzzles if puzzle.date and puzzle.date < today %} {#>#}{#</>#}
        {{ puzzle_item(puzzle) }}
        {% endfor %}
    </ul>

    <h2>Dagens brett</h2>
    <ul>
        {% for puzzle in puzzles if puzzle.date == today %}
        {{ puzzle_item(puzzle) }}
        {% endfor %}
    </ul>

    <h2>Kommende brett</h2>
    <ul>
        {% for puzzle in puzzles if puzzle.date and puzzle.date > today %}
        {{ puzzle_item(puzzle) }}
        {% endfor %}
    </ul>
</body>

</html>