.button {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  padding: 0.6em 1.2em;
  border-radius: 0.7rem;
  background: var(--default-color-100);
  border: var(--border-width) solid var(--default-color-200);
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
}

.button:hover:not(:disabled),
.button:focus-visible:not(:disabled) {
  background: var(--default-color-150);
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon-button {
  padding: 0.4em;
  border-radius: 0.7rem;
  background: var(--default-color-100);
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
  border: var(--border-width) solid transparent;
  line-height: 1;
}

.icon-button svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
  fill: var(--text-1);
}

.icon-button:hover:not(:disabled),
.icon-button:focus-visible:not(:disabled) {
  background: var(--default-color-150);
  border-color: var(--default-color-200);
}
