.button {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  padding: 0.6em 1.2em;
  border-radius: 0.7rem;
  background: var(--default-color-100);
  border: 3px solid var(--default-color-200);
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
}

.button:hover:not(:disabled),
.button:focus-visible:not(:disabled) {
  background: var(--default-color-150);
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
