.button {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  padding: 0.6em 1.2em;
  border-radius: 0.7rem;
  background: white;
  border: 3px solid var(--alternate-default-color);
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  /* color: var(--opposite-text-1); */
  background: var(--default-color);
}
