:root {
  --primary: #cf2639;
  --alternate-primary: #e97583;
  --neutral: #ebebf6;
  --alternate-neutral: #ced0e5;
  --text-1: #333448;
  --text-2: #34353f;
  --opposite-text-1: #ffffff;
  --danger: #b23d3d;
  --alternate-danger: #e57369;
  --background-1: #eceef4;
  --background-15: #d5d9e1;
  --background-2: #cdcedd;
  --background-25: #b7b8cc;
  --background-3: #a7aac4;
  --default-color: var(--primary);
  --alternate-default-color: var(--alternate-primary);
  --solution-1: hsl(145, 71%, 44%);
  --alternate-solution-1: hsl(145, 67%, 65%);
  --solution-2: hsl(220, 70%, 46%);
  --alternate-solution-2: hsl(220, 76%, 69%);
  --solution-3: hsl(280, 73%, 50%);
  --alternate-solution-3: hsl(280, 66%, 70%);
  --solution-4: hsl(353, 69%, 48%);
  --alternate-solution-4: hsl(353, 73%, 69%);
}

* {
  box-sizing: border-box !important;
}

*:focus-visible {
  outline: 3px solid var(--alternate-primary);
}

html {
  color: var(--text-1);
  font-family: Inter, Helvetica, Arial, Verdana, sans-serif;
}

input {
  all: unset;
}

ul {
  all: unset;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  all: unset;
  padding: 0;
  margin: 0;
}

button {
  all: unset;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-1);
}

.preload * {
  transition: none !important;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: block;
  height: 8rem;
}

.content {
  padding: 0.5rem;
  max-width: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.4rem;
}

.no-animate * {
  transition: none !important;
}

.primary {
  --default-color: var(--primary);
  --alternate-default-color: var(--alternate-primary);
}

.neutral {
  --default-color: var(--neutral);
  --alternate-default-color: var(--alternate-neutral);
}

.danger {
  --default-color: var(--danger);
  --alternate-default-color: var(--alternate-danger);
}

.alternate-primary {
  --default-color: var(--alternate-primary);
  --alternate-default-color: var(--primary);
}

.alternate-danger {
  --default-color: var(--alternate-danger);
  --alternate-default-color: var(--danger);
}

.solution-1 {
  --default-color: var(--solution-1);
  --alternate-default-color: var(--alternate-solution-1);
}

.solution-2 {
  --default-color: var(--solution-2);
  --alternate-default-color: var(--alternate-solution-2);
}

.solution-3 {
  --default-color: var(--solution-3);
  --alternate-default-color: var(--alternate-solution-3);
}

.solution-4 {
  --default-color: var(--solution-4);
  --alternate-default-color: var(--alternate-solution-4);
}

@media screen and (max-width: 45rem) {
  h1 {
    font-size: 1.7rem;
  }
}
