.actions {
  position: absolute;
  padding: 0.5rem;
}

.actions button {
  padding-inline: 0.8em;
  aspect-ratio: 1;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 100%;
  background: var(--default-color-100);
  border: 3px solid var(--default-color-200);
  transition: 0.5s ease;
  user-select: none;
}

.actions button:hover {
  background: var(--default-color-150);
}

.transition {
  transition: 0.5s ease;
}

.fade-in {
  opacity: 0;
  transform: scale(0.95);
}

.content {
  align-items: center;
}

h1 {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

h1 .logo {
  color: var(--solution-4-350);
  height: 4.5rem;
  width: auto;
}

h1 .date {
  transform: translateY(0.85rem);
  font-weight: normal;
  font-size: 1.9rem;
}

#status {
  font-family: "Poltawski Novi", serif;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#game-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#puzzle {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#puzzle .solved-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

/* This is quite ugly. The reason it is done, is to have spacing between the solved 
and unsolved containers without having extra spacing above or below either container. 
---> */

#puzzle .solved-container .solved:last-child {
  margin-bottom: 0.5rem;
}

#puzzle .solved-container .solved:nth-child(4) {
  margin-bottom: 0;
}

/* <--- */

#puzzle .unsolved-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 5.5rem;
  gap: 0.5rem;
  position: relative;
}

.word span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 100%;
  border-radius: 0.5rem;
  background: var(--neutral-100);
  border: 3px solid var(--neutral-200);
  transition: 0.3s ease;
  user-select: none;
}

.word:hover input[type="checkbox"]:not(:disabled):not(:checked) + span {
  background: var(--neutral-150);
  cursor: pointer;
}

.word:hover input[type="checkbox"]:not(:disabled):checked + span {
  background: var(--neutral-300);
  cursor: pointer;
}

/* Checked (active) state */
input[type="checkbox"]:checked + span {
  background-color: var(--neutral-250);
  border: 3px solid var(--neutral-350);
}
/* Triggered when mouse is down */
.shrink {
  transform: scale(0.95);
  transition: transform 0.5s ease;
}

/* Hide the checkbox but keep it accessible */
.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input[type="checkbox"]:focus-visible + span {
  outline: 2px solid #0056b3; /* or use a box-shadow for a glow effect */
  outline-offset: 2px;
}

.solved {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background: var(--default-color-250);
  text-align: center;
  height: 5.5rem;
  border: 3px solid var(--default-color-350);
  border-radius: 0.5rem;
  /* color: var(--text-1); */
}

.solved h3 {
  margin: 0;
  font-size: 1.5rem;
}

.solved p {
  margin: 0;
  font-size: 1.2rem;
}

.bottom {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}

.bottom > * {
  grid-row: 1;
  grid-column: 1;
}

#mistakes {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  gap: 0.8rem;
}

.hearts {
  display: grid;
  grid-template-columns: repeat(4, 1.5rem);
  gap: 0.5rem;
}

.heart svg {
  color: var(--solution-4-250);
  stroke: var(--solution-4-350);
  stroke-width: 3px;
  stroke-linejoin: round;
  overflow: visible;
  width: 100%;
  height: 100%;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.6rem;
}

.buttons .button {
  width: 10rem;
}

#result {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  background-color: var(--neutral-100);
  border: 3px solid var(--neutral-200);
  border-radius: 0.5rem;
}

#result .result-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#result h2 {
  font-size: 2.5rem;
  font-family: "Poltawski Novi", serif;
  margin: 0;
}

#result p {
  font-size: 1.2rem;
}

@keyframes scroll-gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 500% 0%;
  }
}

#result #share {
  margin-top: auto;
  border-color: transparent;
  position: relative;
  transition: 1s;
  z-index: 0;
}

#result #share::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 0.5rem;
  border: 3px solid transparent;
  background: linear-gradient(
        to right,
        var(--solution-1-150),
        var(--solution-2-150),
        var(--solution-3-150),
        var(--solution-4-150),
        var(--solution-1-150)
      )
      padding-box,
    linear-gradient(
        to right,
        var(--solution-1-250),
        var(--solution-2-250),
        var(--solution-3-250),
        var(--solution-4-250),
        var(--solution-1-250)
      )
      border-box;
  animation: scroll-gradient 20s linear infinite;
  background-size: 500% 100%;
  z-index: -1;
}

#result #share::after {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 0.5rem;
  border: 3px solid transparent;
  background: linear-gradient(
      to right,
      var(--solution-1-200),
      var(--solution-2-200),
      var(--solution-3-200),
      var(--solution-4-200),
      var(--solution-1-200)
    )
    content-box;
  opacity: 0;
  z-index: -1;
  animation: scroll-gradient 20s linear infinite;
  background-size: 500% 100%;
  transition: opacity 0.5s ease;
}

#result #share:hover::after {
  opacity: 1;
}

#result .guesses-title {
  margin-top: 0;
  margin-bottom: 0.8em;
  font-size: 1.5rem;
  font-family: "Poltawski Novi", serif;
}

#result #guesses {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
}

#result #guesses div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

#result #guesses .guess-1 {
  background: var(--solution-1-250);
  border: 3px solid var(--solution-1-350);
}

#result #guesses .guess-2 {
  background: var(--solution-2-250);
  border: 3px solid var(--solution-2-350);
}

#result #guesses .guess-3 {
  background: var(--solution-3-250);
  border: 3px solid var(--solution-3-350);
}

#result #guesses .guess-4 {
  background: var(--solution-4-250);
  border: 3px solid var(--solution-4-350);
}

.toast-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0.5rem;
}

.toast {
  background: var(--text-1);
  color: var(--opposite-text-1);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0 4px 10px rgba(23, 23, 26, 0.178);
}

#help-dialog {
  color: unset;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: var(--neutral-100);
  border: 3px solid var(--neutral-200) !important;
  border-radius: 0.5rem;
  padding: 1.6rem;
  width: 100%;
  max-width: 700px;
}

#help-dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

#help-dialog h2 {
  font-size: 1.8rem;
  font-family: "Poltawski Novi", serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

#help-dialog ul,
li {
  all: revert;
}

#help-dialog h3 {
  margin-bottom: 0rem;
  margin-top: 2rem;
}

#help-dialog p {
  margin-block: 1.5em;
}

#help-dialog .solution-tags {
  list-style: none;
  padding: 0;
}

#help-dialog .solution-tags li {
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#help-dialog .tag {
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.9rem;
  width: 6rem;
  text-align: center;
  border-radius: 0.3rem;
  background-color: var(--default-color-250);
  color: var(--text-1);
  margin-right: 0.5rem;
}
