.transition {
  transition: 0.5s ease;
}

.fade-in {
  opacity: 0;
  transform: scale(0.95);
}

.content {
  align-items: center;
}

h1 {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

h1 .logo {
  color: var(--primary);
  height: 4.5rem;
  width: auto;
}

h1 .date {
  transform: translateY(0.85rem);
  font-weight: normal;
  font-size: 1.9rem;
}

#status {
  font-family: "Poltawski Novi", serif;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#game-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#puzzle {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#puzzle .solved-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

/* This is quite ugly. The reason it is done, is to have spacing between the solved 
and unsolved containers without having extra spacing above or below either container. 
---> */

#puzzle .solved-container .solved:last-child {
  margin-bottom: 0.5rem;
}

#puzzle .solved-container .solved:nth-child(4) {
  margin-bottom: 0;
}

/* <--- */

#puzzle .unsolved-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 5.5rem;
  gap: 0.5rem;
  position: relative;
}

.word span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  height: 100%;
  border-radius: 0.5rem;
  background: white;
  border: 3px solid var(--alternate-neutral);
  transition: 0.3s ease;
  user-select: none;
}

.word:hover input[type="checkbox"]:not(:disabled) + span {
  background: var(--neutral);
  cursor: pointer;
}

/* Triggered when mouse is down */
.shrink {
  transform: scale(0.95);
  transition: transform 0.5s ease;
}

/* Hide the checkbox but keep it accessible */
.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Checked (active) state */
input[type="checkbox"]:checked + span {
  background-color: var(--alternate-neutral);
  border: 3px solid var(--background-3);
  /* color: var(--background); */
}

input[type="checkbox"]:focus-visible + span {
  outline: 2px solid #0056b3; /* or use a box-shadow for a glow effect */
  outline-offset: 2px;
}

.solved {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background: var(--alternate-default-color);
  text-align: center;
  height: 5.5rem;
  border: 3px solid var(--default-color);
  border-radius: 0.5rem;
  /* color: var(--text-1); */
}

.solved h3 {
  margin: 0;
  font-size: 1.5rem;
}

.solved p {
  margin: 0;
  font-size: 1.2rem;
}

#mistakes {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.hearts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.heart svg {
  color: var(--alternate-primary);
  stroke: var(--primary);
  stroke-width: 3px;
  stroke-linejoin: round;
  overflow: visible;
  width: 1.5rem;
  height: 1.5rem;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.6rem;
}

.buttons .button {
  width: 10rem;
}

.toast-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0.5rem;
}

.toast {
  background: var(--text-1);
  color: var(--opposite-text-1);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0 4px 10px rgba(23, 23, 26, 0.178);
}
