.statistics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: "Poltawski Novi", serif;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.solve-rate-container {
  display: flex;
  gap: 1.5rem;
}

.difficulty-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.1rem;
}

.difficulty-rating strong {
  font-size: 1.4rem;
  color: var(--solution-4-350);
}

.difficulty-rating-graphic {
  display: flex;
  gap: 0.2rem;
}

.difficulty-rating-graphic svg {
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  color: var(--neutral-150);
  stroke: var(--neutral-350);
  stroke-width: 2px;
  stroke-linejoin: round;
  overflow: visible;
}

.difficulty-rating-graphic svg.active {
  color: var(--solution-4-250);
  stroke: var(--solution-4-350);
}

.solve-rate-percentage {
  font-size: 4rem;
  font-family: "Poltawski Novi", serif;
  font-weight: 700;
  color: var(--solution-4-350);
  margin-block: -0.2em;
}

.bar-chart-entry {
  display: grid;
  grid-template-columns: 5ch 1fr 3ch;
  gap: 1rem;
  padding: 0.5rem;
  margin-inline: calc(-0.5rem - var(--border-width));
  border-radius: 0.5rem;
  border: var(--border-width) solid transparent;
}

.bar-chart-entry.active {
  border-color: var(--solution-4-200);
}

.bar-chart-entry.active .bar {
  background-color: var(--solution-4-250);
}

.bar-chart-entry .active-label {
  color: var(--solution-4-400);
  font-weight: 700;
}

.bar-container {
  display: flex;
  gap: 0.5rem;
}

.bar {
  background-color: var(--neutral-250);
  border-radius: 0.5rem;
  min-width: 0.5rem;
}

.bottom-actions {
  display: flex;
  gap: 0.5rem;
}

.bottom-actions .button {
  min-width: 12rem;
}

@media screen and (max-width: 600px) {
  .statistics {
    padding: 1.2rem;
  }

  .bottom-actions {
    flex-direction: column;
  }
  .bottom-actions .button {
    width: 100%;
  }
}
