<!DOCTYPE html>
<html lang="no">

<head>
    <!-- meta -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Grupper ord som hører sammen. Hver dag kommer det et nytt brett!" />

    <!-- Open Graph -->

    <meta property="og:title" content="Rød tråd - Grupper ord som hører sammen" />
    <meta property="og:description" content="Grupper ord som hører sammen. Hver dag kommer det et nytt brett!" />
    <meta property="og:image" content="https://rodtraad.no/static/images/social-preview.png" />
    <meta property="og:url" content="https://rodtraad.no/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Rød tråd - Grupper ord som hører sammen">
    <meta name="twitter:description" content="Grupper ord som hører sammen. Hver dag kommer det et nytt brett!">
    <meta name="twitter:image" content="https://rodtraad.no/static/images/social-preview.png">

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/style/global.css?2025-06-11T22:00:03">
    <link rel="stylesheet" href="/static/style/button.css?2025-06-11T22:00:03">
    <link rel="stylesheet" href="/static/style/animations.css?2025-06-11T22:00:03">
    <link rel="stylesheet" href="/static/style/index.css?2025-06-12T12:42:00">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">

    <script src="/static/script/main.js?2025-06-11T22:00:03" defer type="module"></script>
    <title>Rød tråd</title>
</head>

<body class="no-animate">
    <div class="actions">
        <button id="help-button">?</button>
        <button class="share-button">{% include "snippets/share.svg.jinja" %}
            <span class="tooltip">Lenke kopiert!</span>
        </button>
    </div>
    <main>
        <div class="content transition fade-in">
            <h1>
                <span class="accessibility-title">Rød tråd</span>
                {% include "snippets/logo.svg.jinja" %}
                <span class="date">{{ game_session.puzzle.date|date_format }}</span>
            </h1>
            <p id="status">Finn fire tråder på fire ord!</p>
            <div id="puzzle">
                <div class="solved-container"></div>
                <div class="unsolved-container"></div>
            </div>
            <div class="bottom">
                <div id="game-bottom">
                    <div id="mistakes"> </div>
                    <div class="buttons">
                        <button id="submit" class="button neutral">Bekreft</button>
                        <button id="shuffle" class="button neutral">Stokk om</button>
                        <button id="deselect" class="button neutral">Fjern valg</button>
                    </div>
                </div>
                <div id="result">
                    <div class="result-left">
                        <h2>Du tapte...</h2>
                        <p>Prøv igjen i morgen!</p>
                        <button class="share-button button">Del resultat!
                            <span class="tooltip">Lenke kopiert!</span>
                        </button>
                    </div>
                    <div class="result-right">
                        <h3 class="guesses-title">Dine forsøk</h3>
                        <div id="guesses"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Rød tråd nr. {{ game_session.puzzle.number }}</p>
        <p>Laget av: Gerhard Adler Skartveit</p>
    </footer>
    <dialog id="help-dialog">
        <button class="close-icon" onclick="document.getElementById('help-dialog').close()" aria-label="Lukk">
            {% include "snippets/x.svg.jinja" %}
        </button>

        <h2>Hvordan spille</h2>
        <p>Målet er å finne fire tråder (grupper) med fire ord som hører sammen.</p>
        <ul>
            <li>Klikk på ordene for å markere dem.</li>
            <li>Når du har markert fire ord, klikk "Bekreft".</li>
            <li>Du har fire liv, så vær varsom.</li>
        </ul>
        <h3>Kategori eksempler</h3>
        <ul>
            <li>FUGLER: svale, spurv, kråke, gjøk</li>
            <li>VIKTIG: kritisk, nødvendig, sentral, avgjørende</li>
            <li>__ LYS: te, sol, blå, nær</li>
        </ul>
        <p>Kategoriene vil alltid være mer spesifikke enn f.eks "VERB", "NAVN" eller "ORD PÅ 4 BOKSTAVER".</p>
        <p>Hvert brett har tråder med fire ulike vansklighetsgrader:</p>
        <ul class="solution-tags">
            <li><span class="tag solution-1">GRØNN</span>Lett</li>
            <li><span class="tag solution-2">BLÅ</span>Middels</li>
            <li><span class="tag solution-3">LILLA</span>Vrien</li>
            <li><span class="tag solution-4">RØD</span>Veldig vrien</li>
        </ul>

        <p>Lykke til!</p>
        <button class="button neutral" onclick="document.getElementById('help-dialog').close()">Lukk</button>
    </dialog>
    <script>
        const gameSession = JSON.parse('{{ game_session.model_dump_json()|safe }}');
    </script>
</body>

</html>