<!DOCTYPE html>
<html lang="no">

<head>
    <!-- setup up service worker as the first step -->
    <script src="/static/script/setup_sw.js"></script>

    <!-- meta -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Et spill hvor du skal gruppere ord som hører sammen. Hver dag kommer det et ny oppgave!" />

    <meta name="google-site-verification" content="OjpV-guskwbaqWDYaLtZShkGe-3c9TPCWbBBPqrcJDE" />

    <!-- Open Graph -->

    <meta property="og:title" content="Rød tråd - Grupper ord som hører sammen" />
    <meta property="og:description"
        content="Et spill hvor du skal gruppere ord som hører sammen. Hver dag kommer det et ny oppgave!" />
    <meta property="og:image" content="https://rodtraad.no/static/images/social-preview.png" />
    <meta property="og:url" content="https://rodtraad.no/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Rød tråd - Grupper ord som hører sammen">
    <meta name="twitter:description"
        content="Et spill hvor du skal gruppere ord som hører sammen. Hver dag kommer det et ny oppgave!">
    <meta name="twitter:image" content="https://rodtraad.no/static/images/social-preview.png">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/static/style/global.css?2025-06-17T19:48:00">
    <link rel="stylesheet" href="/static/style/button.css?2025-06-12T18:51:00">
    <link rel="stylesheet" href="/static/style/animations.css?2025-06-11T22:00:03">
    <link rel="stylesheet" href="/static/style/index.css?2025-06-17T01:32:00">
    <link rel="stylesheet" href="/static/style/statistics.css?2025-06-17T14:42:00">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">

    <script src="/static/script/statistics.js" defer type="module"></script>

    <title>Rød tråd - statisitikk</title>
</head>

<body>
    <div class="actions">
        <button class="share-button">{% include "snippets/share.svg.jinja" %}
            <span class="tooltip">Lenke kopiert!</span>
        </button>
    </div>
    <main>
        <div class="content transition fade-in">
            <h1>
                <span class="accessibility-title">Rød tråd</span>
                {% include "snippets/logo.svg.jinja" %}
                <span class="date">{{ game_session.puzzle.date|date_format }}</span>
            </h1>
            <div class="statistics box">
                <h2>Dagens statisitikk</h2>

                {% if not is_game_session_complete %}
                <p class="info-message">Du har ikke fullført dagens spill enda!</p>
                <a class="button neutral" href="/">Spill dagens spill</a>
                {{statistics.completed_game_sessions_count}}
                {% elif statistics.completed_game_sessions_count < 15 %}{#></>#}
                <p class="info-message">Du er blant dagens første 15 spillere! Kom tilbake senere for å se
                    statistikken.</p>
                <section class="bottom-actions">
                    <button class="share-button button glow-button">Del resultat!
                        <span class="tooltip">Kopiert!</span>
                    </button>
                    <a class="button neutral" href="/">Tilbake</a>
                </section>
                {% else %}

                <section class="solve-rate">
                    <h3>Løsningsprosent</h3>
                    <div class="solve-rate-container">
                        <p class="solve-rate-percentage">{{ statistics.solve_rate|percentage_format }}</p>
                        <div class="difficulty-rating">
                            <strong>{{statistics.difficulty_string}}</strong>
                            <div class="difficulty-rating-graphic">
                                {% for i in range(5) %}
                                {% with arguments = 'class="' ~ ('active' if statistics.difficulty > i else 'inactive')
                                ~ '"' %}
                                {% include 'snippets/star.svg.jinja' %}
                                {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>

                <section class="mistake-count">
                    <h3>Fordeling av feil</h3>
                    {% set mistake_name_map = {0: "Ingen", 1: "En", 2: "To", 3: "Tre", 4: "Fire"} %}
                    {% for mistake_count, rate in statistics.mistake_count_distribution.items() %}
                    <div class="bar-chart-entry {{ 'active' if user_mistake_count == mistake_count else '' }}">
                        <span class="mistake-count-label">{{ mistake_name_map[mistake_count] }}</span>
                        <div class="bar-container">
                            <div class="bar" style="width:{{ rate|percentage_format }}"></div>
                            <span class="mistake-count-percentage">{{ rate|percentage_format }}</span>
                        </div>
                        <span class="active-label">{{ "DU" if user_mistake_count == mistake_count else "" }}</span>

                    </div>
                    {% endfor %}
                </section>
                <section class="bottom-actions">
                    <button class="share-button button glow-button">Del resultat!
                        <span class="tooltip">Kopiert!</span>
                    </button>
                    <a class="button neutral" href="/">Tilbake</a>
                </section>
                {% endif %}
            </div>
        </div>
    </main>
    <footer>
        <p>Rød tråd nr. {{ game_session.puzzle.number }}</p>
        <br>
        <p>Laget av: Gerhard Adler Skartveit</p>
        <a class="link" id="contact-email" href="">
            {% include "snippets/envelope.svg.jinja" %}
        </a>
    </footer>
    <script>
        const gameSession = JSON.parse('{{ game_session.model_dump_json()|safe }}');
        const prettyDate = '{{ game_session.puzzle.date|date_format }}';
    </script>
</body>

</html>